*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;
    transition: .4s;
}

#header{
    padding: 23px 0;
    background: #E5E5E5;
    position: sticky;
    z-index: 100;
    top: 0;
    -webkit-box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
}

.icons{
    display: flex;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons img{
    padding-right: 16px;
}

.header-text{
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-text a{
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding-left: 24px;
}

.header-text button{
    background: white;
    padding: 10px 28px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    margin-left: 24px;
}

.hdr-btn button{
    padding: 10px 25px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.header-rej{
    width: 32px;
    height: 32px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
}

.header-rej ion-icon{
    color: #02897A;
    rotate: 180deg;
    width: 20px;
}


#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right:20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #02897A;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    text-align:center;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

.burger-menu{
    display: none;
}




#our{
    background: #E5E5E5;
    padding: 100px 0 150px 0;
}

.our h1{
    width: 229px;
    font-weight: 700;
    font-size: 40px;
    color: #22343D;
    margin: 0 auto;
    padding-bottom: 69px;
}

.our-partners{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*why*/

#why{
    padding: 24px 0;
    background: #F5F5F5;
}

.why h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #22343D;
    padding-bottom: 50px;
}

.why-block{
    width: 300px;
    height: 300px;
    border: 1px solid #d9d5d5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.why-block h2{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #22343D;
    padding: 32px 0 16px 0;
}

.why-block p{
    width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #22343D;

}

.why-block img{
    padding-top: 32px;
}

.why-general{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*how*/

#how{
    padding: 100px 0;
    background: #fdfdfd;
}

.how h1{
    /*width: 340px;*/
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343D;
    padding-bottom: 85px;
}

.how-step-one-text h4{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #22343D;
}

.how-step-one-text h2{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #22343D;
    padding: 16px 0;
}

.how-step-one-text p{
    width: 438px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
}

.how-step-one-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.how-step-one{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.how-step-two{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.how button{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 8px;
    /*padding: 12px 22px;*/
    width: 224px;
    height: 44px;
    /* margin: 0 auto; */
}

/*join*/

#join{
    padding: 35px 0;
    background: #E5E5E5;
}

.join h2{
    width: 537px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
    padding-bottom: 93px;
    margin: 0 auto;
}

.join-block h3{
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    padding: 27px 0 16px 0;
}

.join-block h5{
    font-weight: 400;
    font-size: 18px;
    /*text-align: center;*/
    color: #22343D;
    padding-bottom: 12px;
}

.join-block h6{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.join-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 195px;
}

.join-general{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.join-box-box{
    width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    display: flex;
    padding-left: 45px;
}

.join-box-box h3{
    width: 510px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    padding: 49px 0 60px 0;
}


.join-100 button{
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #22343D;
}

.join-box{
    display: flex;
    justify-content: center;
}


#footer{
    padding: 50px 0;
    background: #E5E5E5;
}

.footer-logo img{
    padding-right: 16px;
}

.footer-ion{
    width: 40px;
    height: 40px;
    background: #ebfdfa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 28px 16px 0 0;
}

.footer-icons ion-icon{
    color: #035B81;
    padding-top: 5px;
}

.footer-icons ion-icon:hover{

}

.footer-icons{
    display: flex;
}

.footer-ion:hover{
    transform: scale(2);
    transition: .4s;
}

.footer-text h3{
    padding-bottom: 8px;
}

.footer-general h3{
    width: 280px;
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-text a{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}

.footer-text a:hover{
    transform: scale(1.1);
    color: blue;
    transition: .3s;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.footer-nav{
    display: flex;
    flex-direction: column;
}

.input{
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    /*padding: 10px 28px 10px 15px;*/
    margin: 34px 0 21px 0;
}

.input input{
    margin: 12px 128px 10px 15px;
    color: #BCD0E5;
}

.footer-nav button{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 131px;
    height: 39px;
    background: #02897A;
    border-radius: 4px;
}

.footer-nav button:hover{
    background: #733bd8;
    color: white;
    transform: scale(1.1);
}

.footer-footer{
    display: flex;
    justify-content: space-between;
}

.footer h2{
    width: 394px;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    margin: 30px auto 0 auto;
}








